@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
  --primary: theme(colors.blue.100);
  --delete: theme(colors.red.300);
  --cancel: theme(colors.red.200);
  --tick: theme(colors.green.100)
}
.popup{
  width: 300px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  right: 1px;
  text-align: center;
  border-radius: 20px;
  top:5px;
}